/* General container styling */
#edit-book-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.edit-book-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

/* Section background colors */
#edit-detail-container {
  background-color: #e8e8ff;
}

#edit-availability-container {
  background-color: #fceae2;
}

/* Centering elements */
.edit-book-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Table styling */
#edit-detail-table,
#edit-availability-table {
  width: 70%;
  border-collapse: collapse;
  border: 1px solid #000;
  background-color: #f3f3f7;
}

.cell {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Image styling */
.edit-book-container img {
  width: 150px;
}

/* Form styling */
#book-availability-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Editable input and icon styling */
.edit-book-container .edit-icon {
  position: relative;
  margin-left: 5px;
}

.edit-book-container input[type="text"],
.edit-book-container textarea {
  width: calc(100% - 50px);
  padding: 5px;
  box-sizing: border-box;
  margin: 0;
}

.edit-book-container textarea {
  resize: none;
  /* Disables resizing */
}


/* Button styling */
.main-btn {
  background-color: #d71440;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.edit-book-container .upload-btn {
  display: block;
  margin: 5px auto 0;
  background-color: #ef7c00;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
  margin: 5px auto;
}

.edit-book-container input[type="file"] {
  margin: 5px auto;
}

/* Table wrapper for centering */
.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Ensuring the availability table is styled as needed */
#edit-availability-container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}

#edit-availability-container table td,
#edit-availability-container table th {
  padding: 10px;
  text-align: center;
}

#edit-availability-container table th {
  background-color: #11155e;
  color: #f3f3f7;
  /* Optional: light background color for headers */
  height: 50px;
  /* Set a fixed height for headers to match other rows */
}