* {
  box-sizing: border-box;
}

.hp-lib-header {
  background-image: url("img/ui/homepage-bg-2.png");
  min-height: 550px;
}

.hp-lib-header p {
  text-align: left;
}

.lib-service {
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

.left-side {
  width: 13%;
  background: white;
  position: relative; /* Make this relative to position the book cover within */
}

.right-side {
  width: 87%;
  padding: 50px;
  background-color: #f3f3f7;
  overflow-y: auto;
}

.shelf-subnav a {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
  padding: 10px 15px; /* Padding for dropdown links */
  color: #bbb; /* Text color for dropdown links */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  min-height: 60px;
  padding-left: 30px;
}

.shelf-subnav a:hover {
  background-color: #f0f0f0; /* Background on hover for dropdown links */
  color: #333;
}

.shelf-subnav a.active-tab {
  color: #333;
  text-decoration: underline;
}

.status-green {
  background-color: aquamarine;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

.status-yellow {
  background-color: #f2ac42;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

.status-red {
  background-color: #ea324c;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
}

.shelf-action-button {
  width: 100%;
  margin: 5px 0; /* Space between buttons */
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
}

.return {
  border: 1px solid #ef7c00;
  color: #ef7c00;
  background-color: white;
}

.return:hover {
  color: white;
  background-color: #ef7c00;
}

.cancel {
  border: 1px solid #ee3124;
  color: #ee3124;
  background-color: white;
}

.cancel:hover {
  color: white;
  background-color: #ee3124;
}

.acknowledge {
  border: 1px solid #11155e;
  color: #11155e;
  background-color: white;
}

.acknowledge:hover {
  color: white;
  background-color: #11155e;
}

.action-form {
  display: flex; /* Use flexbox to align items */
  justify-content: flex-start; /* Align items to the left */
  margin: 0; /* Remove default margin */
}

.display-amount {
  margin-left: 31px;
}

.pay-button {
  border: 1px solid #11155e;
  color: #11155e;
  background-color: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.pay-button:hover {
  color: white;
  background-color: #11155e;
}

.pay-button:disabled {
  background-color: #d3d3d3; /* Light gray background */
  cursor: not-allowed; /* Change cursor to indicate it's not clickable */
  color: black; /* Text color */
  border: none; /* Remove border */
  opacity: 0.6; /* Optional: make the button look disabled */
}

#select-all-button {
  border: 1px solid #ef7c00;
  color: #ef7c00;
  background-color: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  margin-right: 20px;
}

#select-all-button:hover {
  color: white;
  background-color: #ef7c00;
}

.display-amount span {
  font-weight: bold;
}

.form-container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 auto;
  width: 60%;
  padding: 25px;
}

input[type="text"],
input[type="number"],
select,
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
  width: auto;
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"] {
  border: 1px solid #11155e;
  background-color: #11155e;
  color: white;
}

input[type="submit"]:hover {
  border: 1px solid #ef7c00;
  background-color: #ef7c00;
}

input[type="reset"] {
  border: 1px solid #ee3124;
  color: #ee3124;
  background-color: white;
}

input[type="reset"]:hover {
  background-color: #ee3124;
  color: white;
}

/* -------Data Analytics------------ */
.lib-section {
  background-color: #e8e8ff;
  padding: 20px;
}

.lib-section h1,
p {
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: center; /* Center both columns horizontally */
  gap: 20px; /* Space between columns */
}

.info-group {
  width: 45%; /* Each column takes about half the width */
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center; /* Center text in each column */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow for styling */
}

.big-number {
  font-size: 2em;
  color: #333;
  font-weight: bold;
}

.library-table {
  width: 50%;
  border-collapse: collapse;
  margin: 50px auto;
  font-size: 1em;
  text-align: center;
}

.library-table th,
.library-table td {
  padding: 12px 15px;
  border: 1px solid gray;
  white-space: nowrap;
}

.library-table thead {
  background-color: #11155e;
  color: white;
}

.library-table tbody tr:hover {
  background-color: #d1d1ec;
}

.lib-search {
  width: 70%;
  margin: 20px auto;
}

.lib-search .submit-button {
  margin-left: 10px;
  margin-right: 10px;
}

.lib-search .search-bar {
  margin: 0 auto;
  padding-left: 200px;
}

.lib-search .form-container {
  width: 50%;
}

.book-table .hidden-details {
  display: none;
  background-color: #f3f3f7;
}
