* {
  box-sizing: border-box;
}

.header-shelf {
  /* New header class for search page */
  background: linear-gradient(45deg, #ffdfd1, #fe6d73);
  padding: 20px; /* Smaller padding */
  color: black;
  min-height: 150px; /* Reduced header height */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; /* Allow absolutely positioned children */
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

.left-side {
  width: 13%;
  background: white;
  position: relative; /* Make this relative to position the book cover within */
}

.right-side {
  width: 87%;
  padding: 50px;
  background-color: #f3f3f7;
  overflow-y: auto;
}

.shelf-subnav a {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
  padding: 10px 15px; /* Padding for dropdown links */
  color: #bbb; /* Text color for dropdown links */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  min-height: 60px;
  padding-left: 30px;
}

.shelf-subnav a:hover {
  background-color: #f0f0f0; /* Background on hover for dropdown links */
  color: #333;
}

.shelf-subnav a.active-tab {
  color: #333;
  text-decoration: underline;
}

.status-green {
  background-color: aquamarine;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

.status-yellow {
  background-color: #f2ac42;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

.status-red {
  background-color: #ea324c;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
}

.shelf-action-button {
  width: 100%;
  margin: 5px 0; /* Space between buttons */
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
}

.return {
  border: 1px solid #ef7c00;
  color: #ef7c00;
  background-color: white;
}

.return:hover {
  color: white;
  background-color: #ef7c00;
}

.cancel {
  border: 1px solid #ee3124;
  color: #ee3124;
  background-color: white;
}

.cancel:hover {
  color: white;
  background-color: #ee3124;
}

.acknowledge {
  border: 1px solid #11155e;
  color: #11155e;
  background-color: white;
}

.acknowledge:hover {
  color: white;
  background-color: #11155e;
}

.action-form {
  display: flex; /* Use flexbox to align items */
  justify-content: flex-start; /* Align items to the left */
  margin: 0; /* Remove default margin */
}
