* {
  box-sizing: border-box;
}

/* Updated Header styles for Search Page */
.header-search {
  /* New header class for search page */
  background-color: #e8e8ff; /* Light blue background color */
  padding: 20px; /* Smaller padding */
  color: black;
  min-height: 150px; /* Reduced header height */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; /* Allow absolutely positioned children */
}

/* Styles for Advanced Search Button and Form */
.advanced-search-button {
  background-color: #11155e;
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 20px 0 0 20px; /* Applies circular radius on left side only */
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.advanced-search-button img {
  height: 9px;
  margin-left: 7px;
}

/* New class for right border-radius only */
.search-bar .rounded-right {
  padding: 9px;
  border-radius: 0 20px 20px 0;
  width: 500px;
}

.advanced-search-form {
  display: none; /* Hidden by default */
  background-color: #f3f3f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  width: 730px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  font-family: "Inter", sans-serif;
}

.advanced-search-form div {
  margin-bottom: 15px;
}

.advanced-search-form label {
  display: block;
  margin-bottom: 5px;
}

.advanced-search-form input[type="text"],
.advanced-search-form input[type="number"],
.advanced-search-form select {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.advanced-search-form-buttons {
  display: flex;
  gap: 20px;
}

.advanced-search-form-buttons button {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.advanced-search-form-buttons button[type="reset"] {
  background-color: white; /* Cancel button */
  border: 1px solid #ee3124;
}

.advanced-search-form-buttons button[type="submit"] {
  border: 1px solid #ef7c00;
  background-color: #ef7c00; /* Apply button */
  color: white;
}

.advanced-search-form-buttons button[type="submit"]:hover {
  border: 1px solid #d71440;
  background-color: #d71440; /* Apply button */
  color: white;
}

.advanced-search-form .form-group {
  margin-bottom: 0px; /* Space below the form group */
}

.advanced-search-form .checkbox-dropdown-toggle {
  margin-bottom: 0px;
}

/* -----------------group ISBN and Publication Year----------------- */
.form-group {
  display: flex; /* Use flexbox to align the groups */
  justify-content: space-between; /* Space between the groups */
  align-items: flex-start; /* Align items at the top */
}

.isbn-group,
.publication-year-group {
  display: flex; /* Use flexbox for the inner content */
  flex-direction: column; /* Stack label and input vertically */
  margin-bottom: 0px;
}

.publication-year-group-input {
  display: flex; /* Use flexbox for the inner content */
  flex-direction: row;
  align-items: center;
}

.isbn-group {
  width: 66%;
}

.isbn-input {
  width: 100%; /* ~2/3 width for the ISBN input */
  margin-top: 5px; /* Small space above the input */
}

.publication-year-group {
  display: flex; /* Align year inputs horizontally */
}

.year-input {
  width: 30%; /* ~1/3 width for each year input */
  margin-top: 5px; /* Small space above the input */
}

.separator {
  margin: 0 10px; /* Space between the year inputs */
}

/* -----------------Style checkbox----------------- */
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-dropdown {
  position: relative;
  display: inline-block;
}

.checkbox-dropdown-toggle {
  padding: 7px;
  display: flex;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  font-size: 14px;
  color: gray;
  width: 202px;
}

.checkbox-dropdown-toggle span {
  flex-grow: 1; /* Allow text to take up space and push the image to the right */
}

.checkbox-dropdown-toggle img {
  height: 14px;
  margin-right: 3px;
}

.checkbox-dropdown-content {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
  margin-top: 5px; /* Space between toggle and dropdown */
  width: 100%; /* Set width as needed */
}

.checkbox-dropdown-content label {
  display: block; /* Make each checkbox label a block to stack */
  padding: 5px;
}

.checkbox-dropdown-content input {
  margin-right: 5px; /* Space between checkbox and label */
}

/* ----------- Style sort by dropdown ------------------- */
.sort-dropdown {
  position: relative; /* Position relative to position the icon */
  display: inline-block; /* Allow the dropdown to behave like a button */
  width: 100%;
}

.form-group .sort-dropdown {
  width: 202px;
}

.sort-dropdown-select {
  font-family: "Inter", sans-serif; /* Change to your desired font family */
  font-size: 14px; /* Set the desired font size */
  color: gray; /* Set the desired font color */
  padding: 10px 30px 10px 10px; /* Add padding for text and space for the icon */
  border: 1px solid #ccc; /* Border around the select */
  border-radius: 5px; /* Rounded corners */
  background-color: white; /* Background color */
  appearance: none; /* Remove default dropdown arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
}

.sort-dropdown img {
  position: absolute; /* Position the icon absolutely */
  top: 50%; /* Center the icon vertically */
  right: 10px; /* Space from the right */
  transform: translateY(-50%); /* Adjust to perfectly center vertically */
  pointer-events: none; /* Ignore mouse events for the icon */
  height: 14px; /* Adjust icon height */
  width: auto; /* Maintain aspect ratio */
}

/*-- Category button carousel -- */
.discover-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-carousel {
  height: 20px;
}

.carousel {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-container {
  display: flex;
  overflow: visible;
  width: 100%; /* Set a fixed width */
}

.category-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Set a fixed height for all buttons */
  margin: 0 10px; /* Spacing between buttons */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
}

.discover-category .big-blue-h1 {
  margin-bottom: 10px;
}

/*----------Search results: book table----------------------*/
/* Section Styling */
.book-section {
  background-color: #f3f3f7;
  width: 80%;
  margin: 20px auto 60px;
  padding: 10px 0;
  overflow-x: auto; /* Add horizontal scrolling if needed */
}

.search-query {
  width: 95%;
  margin: 0 auto;
  text-align: left;
}

/* Table Styling */
.book-table {
  width: 95%;
  margin: 0 auto; /* Center the table */
  border-collapse: separate;
  border-spacing: 0 15px;
}

.book-table th,
.book-table td {
  text-align: left;
  padding: 10px;
  vertical-align: top;
}

/* Table Header */
.book-table th {
  font-weight: bold;
  color: #333;
}

/* Table Rows */
.book-table tbody tr {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.book-table tbody tr:hover {
  cursor: pointer;
}

.book-table tbody td {
  padding: 10px 15px;
  vertical-align: middle; /* Center text vertically */
  overflow: hidden; /* Prevent content overflow */
}

/* Add border radius to the first and last cells in the row */
.book-table tbody tr td:first-child {
  border-top-left-radius: 10px; /* First cell */
  border-bottom-left-radius: 10px; /* Last row */
}

.book-table tbody tr td:last-child {
  border-top-right-radius: 10px; /* Last cell */
  border-bottom-right-radius: 10px; /* Last row */
}

/* Cover Image Styling */
.book-cover {
  width: 100%; /* Full width of the container */
  height: 85px; /* Fixed height for uniformity */
  min-width: 50px;
  object-fit: contain; /* Scale image to fit, retaining proportions */
  background-color: #f3f3f7; /* Gray background to fill uncovered area */
  border-radius: 4px;
}

/* Truncate Text */
.book-table td:nth-child(2),
.book-table td:nth-child(3) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-table td:nth-child(2) {
  max-width: 360px;
}

.book-table td:nth-child(3) {
  max-width: 250px;
}
/* Format and Availability Columns */
.format-column,
.availability-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap; /* Prevent text from wrapping */
}

.format-column img,
.availability-column img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.format-column div,
.availability-column div {
  display: flex;
  align-items: center;
  margin: 2px 0;
}
