/* Header styles for User Page, adopted from search page */
.header-settings {
  background-color: #FFDFD1;
  /* Light blue background color */
  padding: 20px;
  color: black;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Setting Buttons section */
.settings-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Layout adopted from search-page.html so I need a container between settings-options and button-container */
.button-container-container {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.button-container {
  display: flex;
  overflow: visible;
  width: 100%;
  /* Set a fixed width */
}

/* Show chosen settings section */
.settings-section {
  background-color: #f3f3f7;
  width: 80%;
  margin: 20px auto 60px;
  padding: 10px 0;
  overflow-x: auto;
  /* Add horizontal scrolling if needed */
}